<h1><%= @place.name %></h1>

<div class="row">
  <% for post in @place.posts.where({ user_id: session[:user_id] }) %>
    <div class="col-md-3 col-sm-6">
      <h4><%= post.title %></h4>
      <h5><%= post.posted_on %></h5>

      <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post.image %>" class="img-fluid">
      <% end %>


      <p><%= post.description %></p>
    </div>
  <% end %>
</div>

<p>
  <a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>